@font-face {

   font-family: 'Helveticamazing';
   src: url('fonts/Helveticamazing.ttf') format('truetype');

}


@font-face {

   font-family: 'PoeVetica';
   src: url('fonts/PoeVetica.ttf') format('truetype')

}